{% extends 'layout.twig' %}

{% set head_title = 'Hello' %}
{% set css_files = ['/css/base.css'] %}

{% block content %}
    <h1>Hello, {{ username }}!</h1>
    <p><a href="/logout">Logout</a></p>
{% endblock %}
