{% extends 'layout.twig' %}

{% set head_title = 'Home' %}
{% set css_files = ['/css/base.css'] %}

{% block content %}
    <p>Welcome to PHPiko!</p>
    <p><a href="/login">Login</a></p>
{% endblock %}
