{% extends 'layout.twig' %}

{% set head_title = 'Login' %}
{% set css_files = ['/css/base.css'] %}

{% block content %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="csrf" value="{{ csrf }}" />
        <p style="color: red;">{{ error }}</p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required aria-required="true" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required aria-required="true" />
        <button type="submit">Login</button>
    </form>
{% endblock %}
