name = "PHPiko"
; timezone = "Europe/Sofia"

[logger]
; Log levels: debug, info, notice, warning, error, critical, alert, emergency
level = debug
filename = "../log/phpiko.log"
format = "[{datetime}] [{level}] {message} {context}"
dateFormat = "Y-m-d H:i:s"
interpolatePlaceholders = on
removeInterpolatedContext = on

[twig]
debug = on
;template_path = "../templates"
;cache_path = "../tmp/twig"
