{% extends 'layout.twig' %}

{% set head_title = 'Change Password' %}

{% block css %}
	{{ parent() }}
<style>
.error-message {
	color: #D8000C;
	background-color: #FFD2D2;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #D8000C;
}
.form-group {
	margin-bottom: 10px;
}
</style>
{% endblock %}

{% block content %}
	<h1>Change Password</h1>
	<form action="{{ route('change-password') }}" method="POST">
		<input type="hidden" name="csrf" value="{{ csrf }}" />
		{% if error %}
			<p class="error-message">{{ error }}</p>
		{% endif %}
		<div class="form-group">
			<label for="current">Current Password:</label>
			<input type="password" id="current" name="current" required aria-required="true" />
		</div>
		<div class="form-group">
			<label for="password1">New Password:</label>
			<input type="password" id="password1" name="password1" required aria-required="true" />
		</div>
		<div class="form-group">
			<label for="password2">Repeat Password:</label>
			<input type="password" id="password2" name="password2" required aria-required="true" />
		</div>
		<button type="submit">Save</button>
	</form>
{% endblock %}


