{% extends 'layout.twig' %}

{% set head_title = 'Home' %}

{% block content %}
	<h1>Welcome to PHPiko!</h1>
	<p>Testing AI-generated code.</p>
	<p><a href="{{ route('signup') }}">Sign Up</a> or <a href="{{ route('login') }}">Log In</a></p>
{% endblock %}
