{% extends 'layout.twig' %}

{% set head_title = 'Hello' %}

{% block css %}
	{{ parent() }}
{% endblock %}


{% block content %}
	<h1>Hello, {{ username }}!</h1>
	<p>
		<a href="{{ route('phpinfo') }}">PHP Info</a>
	</p>
{% endblock %}
